@tailwind utilities;

@layer utilities {

    .shadow-dark-sm {
        @apply shadow-[0px_0px_2px_1px_rgba(0,0,0,0.2)]
        dark:shadow-[0px_0px_3px_1px_rgba(0,0,0,0.4)];
    }

    .shadow-dark-md {
        @apply shadow-[0px_0px_3px_2px_rgba(0,0,0,0.15)]
        dark:shadow-[0px_0px_3px_1px_rgba(0,0,0,0.4)];
    }

    .shadow-dark-lg {
        /*box-shadow: 2px 2px 3px 3px #00000065;*/
        @apply shadow-[2px_2px_3px_3px_rgba(0,0,0,0.2)]
        dark:shadow-[2px_2px_3px_3px_rgba(0,0,0,0.4)];
    }

}